<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="LogViewer2.Properties.Settings.HostTestConnectionString"
            connectionString="Data Source=DMA5109\SQLEXPRESS;Initial Catalog=HostTest;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>